@font-face {
  font-family: 'CerebriSansRegular';
  src: url('../assets/fonts/CerebriSans-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSansMedium';
  src: url('../assets/fonts/CerebriSans-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSansLight';
  src: url('../assets/fonts/CerebriSans-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSansBook';
  src: url('../assets/fonts/CerebriSans-Book.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSansBold';
  src: url('../assets/fonts/CerebriSans-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSansSemiBold';
  src: url('../assets/fonts/CerebriSans-SemiBold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSansMedium';
  src: url('../assets/fonts/CerebriSans-Medium.ttf');
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'CerebriSansRegular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #fff;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background: none;
  border: none;
  text-align: inherit;
  cursor: pointer;
}
